<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/warehouse-1-1.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{globals.user.firstName}}</h1>
        <p class="text-white mt-0 mb-5">นี่คือหน้าโปรไฟล์ของคุณ
          คุณสามารถตั้งชื่อร้านและจัดการรายละเอียดร้านของคุณได้ที่นี้</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="{{globals.user.picture ? globals.user.picture: '../../../assets/img/theme/user.png'}}"
                  class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="javascript:void(0)" class="btn btn-sm btn-default float-right">Message</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{globals.user.firstName}} {{globals.user.lastName}}<span class="font-weight-light">, 27</span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <img src="{{shopPicture ? shopPicture: '../../../assets/img/theme/food.png'}}" class="rounded-circle">
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <h3 class="mb-0">ร้านของฉัน</h3>            
            <button class="btn btn-sm btn-warning" *ngIf="isEdit" (click)="edit()">แก้ไข</button>
            <button class="btn btn-sm btn-primary" *ngIf="!isEdit" (click)="edit()">ตั้งค่า</button>
            <button class="btn btn-sm btn-danger" *ngIf="isEdit" (click)="addRestaurant()">บันทึก/ยกเลิก</button>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">เกี่ยวกับร้านของคุณ</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="inputRestaurantName">ชื่อร้าน</label>
                    <input type="text" id="inputRestaurantName" class="form-control form-control-alternative"
                      placeholder="ชื่อร้าน" [(ngModel)]="restaurant.name" name="name" [disabled]="!isEdit">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="inputRestaurantType">ประเภทร้าน</label>
                    <input type="text" id="inputRestaurantType" class="form-control form-control-alternative"
                      placeholder="ประเภทร้าน" [(ngModel)]="restaurant.type" name="type" [disabled]="!isEdit">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">ที่ตั้งร้านของคุณ</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="inputRestaurantAddress">ที่อยู่</label>
                    <input id="inputRestaurantAddress" class="form-control form-control-alternative"
                      placeholder="ที่อยู่ร้าน" type="text" [(ngModel)]="restaurant.address" name="address"
                      [disabled]="!isEdit">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="inputRestaurantCity">จังหวัด</label>
                    <input type="text" id="inputRestaurantCity" class="form-control form-control-alternative"
                      placeholder="จังหวัด" [(ngModel)]="restaurant.city" name="city" [disabled]="!isEdit">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="inputRestaurantCountry">ประเทศ</label>
                    <input type="text" id="inputRestaurantCountry" class="form-control form-control-alternative"
                      placeholder="ประเทศ" [(ngModel)]="restaurant.country" name="country" [disabled]="!isEdit">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="inputRestaurantPostalCode">รหัสไปรษณีย์</label>
                    <input type="number" id="inputRestaurantPostalCode" class="form-control form-control-alternative"
                      placeholder="รหัสไปรษณีย์" [(ngModel)]="restaurant.postalCode" name="postalCode"
                      [disabled]="!isEdit">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">อธิบายเกี่ยวกับร้านของคุณ</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>ร้านของฉัน</label>
                <textarea rows="4" class="form-control form-control-alternative" [(ngModel)]="restaurant.about"
                  name="about" [disabled]="!isEdit"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>